
*{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}
.navx{
    align-items: center;
}
.anchor{
    color:rgba(21, 20, 57, 0.7);
}
h2, h1{
    color: #1E0E62;
    
}
h1{
    font-size: 58px;
}
.middle{
padding-top: 60px;
width: 568px;
}

.under{
    font-size: 18px;
width: 455px;
line-height: 28px;
}
.bluee{
    color:white;
    background-color:rgba(37, 218, 197, 1);  
}
.whitee{
    color: #1E0E62;
}
.butttons{
    padding-top: 80px;}
   /*  gap: 10px;
} */

@media (max-width: 800px) {
    
 h2{
    font-size: 20px;
 }  
    h1{
        font-size: 21px;
        font-weight: 900;
        width: 78%;
        padding-left:20%;
    
    }
    .middle{
    width: 100%;
   
    
    }
    .under{
        font-size: 13px;
        font-weight: ;
        width:75%;
        line-height: 18px;
         padding-left: 20%;
         
    }
    p{
        font-size: 10px;
        text-align: center
    }
    .butttons{
        padding-top: 40px;
        justify-content: center;
    }
}